{% extends 'index.html' %}
{% load static %}

{% block content %}
<div id="groups-page" ng-controller="GroupsController">
    <div class="container">
        <div class="row">
            <div class="col">
                <br><br>
                <h2>Ваші класи:</h2>
                <div class="class-plates d-flex">
                    <a class="class-plate" ng-repeat="group in groups">
                        <img class="delete" src="{% static 'images/delete-16.png' %}">
                        <div class="class-name" ng-bind="group.group__name"></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <br><br>
                <h2>11A</h2>
                <span>3 учні</span>
                <br><br>
                <h5>Список учнів</h5>

                <table class="table table-bordered pupils-table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>ПІБ</th>
                        <th>Дата народження</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for pupil in pupils %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{pupil.first_name}} {{pupil.last_name}}</td>
                        <td>{{pupil.dateBirth}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <button class="btn btn-primary" data-toggle="modal" data-target="#add-pupil-modal">Додати учня</button>
            </div>
        </div>
    </div>

    <div id="add-group-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Додати клас</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Назва класу">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Додати</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінти</button>
                </div>
            </div>
        </div>
    </div>

    <div id="add-pupil-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Додати учня</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Прізвище">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ім'я">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="По-батькові">
                        </div>
                        <div class="form-group">
                            <input type="date" class="form-control" placeholder="Прізвище">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Додати</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Відмінти</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}