{% extends 'index.html' %}
{% load static %}

{% block content %}
<div id="reg-page">
    <div class="card">
        <div class="card-header">Ласкаво просимо!</div>
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ user_form }}
                <div class="form-group">
                    <input type="text" name="username" class="form-control" id="login" placeholder="Логін">
                    <small class="form-text text-muted">Тут вимоги до логіну</small>
                </div>
                <div class="form-group is-invalid">
                    <input type="password" name="password" class="form-control" id="password" placeholder="Пароль">
                    <small class="form-text text-muted">Тут вимоги до паролю</small>
                </div>
                <div class="form-group is-invalid">
                    <input type="password" name="password" class="form-control" id="repeat-password" placeholder="Пароль ще раз">
                </div>
                <button type="submit" class="btn btn-primary">Зареєструватись</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
